[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11.9"

[packages]
setuptools = "*"
wheel = "*"
cx-freeze = "==7.1.1"
requests = "==2.32.3"
beautifulsoup4 = "==4.7.1"
pypdl = "==1.5.6"
