__pycache__/
.idea/
.vscode/
**/dist/
**/node_modules/
test/coverage/
**/tmp/*
bridges/python/.venv/*
downloads/*
logs/*
core/config/**/*.json
bin/coqui/*
bin/flite/*

*.pyc
.DS_Store
*.sublime-workspace
npm-debug.log
debug.log
.env
!**/.gitkeep
!bridges/python/.venv/.gitkeep
!**/*.sample*
packages/**/config/config.json
skills/**/src/config.json
packages/**/data/db/*.json
skills/**/memory/*.json
core/data/models/*.nlp
package.json.backup
.python-version
