__pycache__/
.idea/
**/dist/
**/node_modules/
test/coverage/
**/tmp/*
bridges/python/.venv/*
downloads/*
logs/*
server/src/config/**/*.json
bin/deepspeech/*
bin/flite/*

*.pyc
.DS_Store
npm-debug.log
debug.log
.env
!**/.gitkeep
!bridges/python/.venv/.gitkeep
!**/*.sample*
packages/**/config/config.json
packages/**/data/db/*.json
server/src/data/expressions/classifier.json
app/js/main.js
package.json.backup
