.session-page
  display: flex
  flex-direction: column
  width: 100%
  min-height: 100vh

  .feed
    flex: 1 1 auto

  .query-input
    position: sticky
    bottom: var(--space-xl)
    flex: 0 0 auto
    margin-bottom: var(--space-xl)
