@import '../../styles/main.sass'

.aurora-text
  font-size: var(--a-font-size-md)
  font-weight: var(--a-font-weight-regular)
  line-height: var(--a-line-height-md)
  color: var(--a-color-text)
  text-align: left
  transition: color var(--a-transition-duration-main) var(--a-transition-timing-main)

  &--left
    text-align: left
  &--center
    text-align: center
  &--right
    text-align: right

  &--secondary
    color: var(--a-color-text-secondary)
  &--tertiary
    color: var(--a-color-text-tertiary)

  &--xs
    font-size: var(--a-font-size-xs)
    line-height: var(--a-line-height-xs)
  &--sm
    font-size: var(--a-font-size-sm)
    line-height: var(--a-line-height-sm)
  &--md
    font-size: var(--a-font-size-md)
    line-height: var(--a-line-height-md)
  &--lg
    font-size: var(--a-font-size-lg)
    line-height: var(--a-line-height-lg)
  &--xl
    font-size: var(--a-font-size-xl)
    line-height: var(--a-line-height-xl)

  &--regular
    font-weight: var(--a-font-weight-regular)
  &--semi-bold
    font-weight: var(--a-font-weight-semi-bold)
