.tool-call-list
  --tool-call-marker-size: 16px
  --tool-call-marker-offset: calc((var(--line-height-md) - var(--tool-call-marker-size)) / 2)
  --timeline-connector-gap: 4px
  --tool-call-list-gap: var(--activity-node-gap)
  position: relative
  display: flex
  flex-direction: column
  gap: var(--tool-call-list-gap)

.tool-call-list-nested
  width: calc(100% + var(--tool-call-marker-size) + var(--space-sm))
  margin-left: calc((var(--tool-call-marker-size) + var(--space-sm)) * -1)

  &::before
    position: absolute
    top: calc(var(--task-list-item-marker-offset) + var(--task-list-item-marker-size) + var(--timeline-connector-gap) - var(--line-height-md) - var(--tool-call-list-gap))
    left: calc(var(--tool-call-marker-size) / 2)
    width: 1px
    height: calc(var(--line-height-md) + var(--tool-call-list-gap) + var(--tool-call-marker-offset) - var(--task-list-item-marker-offset) - var(--task-list-item-marker-size) - var(--timeline-connector-gap) - var(--timeline-connector-gap))
    background-color: var(--color-timeline-border)
    content: ''
