# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  # The Node.js orb contains a set of prepackaged CircleCI configuration you can utilize
  # Orbs reduce the amount of configuration required for common tasks.
  # See the orb documentation here: https://circleci.com/developer/orbs/orb/circleci/node
  node: circleci/node@4.7

jobs:
  build:
    docker:
      - image: cimg/node:16.10
    # Then run your tests!
    # CircleCI will report the results back to your VCS provider.
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          command: npm test
build-and-test:
    docker:
      - image: cimg/node:16.10
      - image: snyk/snyk:node
    steps:
      - checkout
      - run: docker run --rm -it --env SNYK_TOKEN -v $(PWD):/app snyk/snyk:node

workflows:
    version: 2
    build_and_test:
        jobs:
        - build
        - build-and-test:
            requires:
              - build-and-test

