[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9.10"

[packages]
spacy = "==3.4.0"
setuptools = "==65.4.1"
wheel = "==0.37.1"
torch = "==1.12.1"
python-dotenv = "==0.19.2"
geonamescache = "==1.3.0"
