[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9.10"

[packages]
setuptools = "*"
wheel = "*"
cx-freeze = "==6.11.1"
spacy = "==3.5.4"
torch = "==1.12.1"
python-dotenv = "==0.19.2"
geonamescache = "==1.6.0"
