\:root

  /**
   * Font family
   */

  --font-family: 'Source Sans Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif

  /**
   * Font weights
   */

  --font-weight-regular: 400
  --font-weight-semi-bold: 600
  --font-weight-bold: 700

  /**
   * Font sizes and line heights
   */

  --font-size-xs: 12px
  --line-height-xs: 14px

  --font-size-sm: 14px
  --line-height-sm: 18px

  --font-size-md: 16px
  --line-height-md: 22px

  --font-size-lg: 18px
  --line-height-lg: 26px

  --font-size-xl: 20px
  --line-height-xl: 30px

  /**
   * Spacing
   */

  --space-xs: 4px
  --space-sm: 8px
  --space-md: 12px
  --space-lg: 16px
  --space-xl: 24px

  /**
   * Layout
   */

  --sidebar-width: 264px
  --sidebar-collapsed-width: 53px
  --content-width: 772px
  --query-input-height: 54px
  --button-md-icon-only-size: 32px

  /**
   * Border radius
   */

  --border-radius-sm: 4px
  --border-radius-md: 12px
  --border-radius-lg: 16px
  --border-radius-xl: 22px
  --border-radius-pill: 999px

  /**
   * Transitions
   */

  --transition-duration-main: .2s
  --transition-duration-sidebar: .55s
  --transition-timing-main: ease-in-out
  --transition-timing-sidebar: cubic-bezier(.2, .8, .2, 1)
  --activity-animation-duration: 2600ms
