@import '../../styles/main.sass'

.aurora-slider
  --a-track-height: 10px

  .aurora-slider-control
    display: flex
    align-items: center
    cursor: pointer
    width: 100%
    &[data-disabled]
      cursor: not-allowed
      opacity: var(--a-opacity-disabled)
    &:hover:not([data-disabled])
      .aurora-slider-thumb
        width: calc(var(--a-track-height) * 2.3)
        height: calc(var(--a-track-height) * 2.3)
      .aurora-slider-track
        background-color: var(--a-color-background-surface-secondary-hover)

  .aurora-slider-track
    background-color: var(--a-color-background-surface-secondary)
    border-radius: var(--a-border-radius-pill)
    transition: background-color var(--a-transition-duration-main) var(--a-transition-timing-main)

  .aurora-slider-range
    background-color: var(--a-color-accent)
    border-radius: var(--a-border-radius-pill)

  .aurora-slider-thumb
    position: relative
    outline: none
    width: calc(var(--a-track-height) * 2)
    height: calc(var(--a-track-height) * 2)
    border-radius: var(--a-border-radius-circle)
    background-color: var(--a-color-accent)
    transition: width var(--a-transition-duration-main) var(--a-transition-timing-main), height var(--a-transition-duration-main) var(--a-transition-timing-main)

  &--hidden-thumb
    &:hover .aurora-slider-thumb
      opacity: 1
    .aurora-slider-thumb
      opacity: 0

  &[data-orientation="horizontal"]
    .aurora-slider-control
      flex-direction: row
      width: 100%
      height: var(--a-track-height)
    .aurora-slider-range
      height: var(--a-track-height)
    .aurora-slider-track
      width: 100%
      height: var(--a-track-height)
    .aurora-slider-thumb
      margin-top: 1px

  &[data-orientation="vertical"]
    height: 100%
    .aurora-slider-control
      flex-direction: column
      width: var(--a-track-height)
      height: 100%
    .aurora-slider-range
      width: var(--a-track-height)
    .aurora-slider-track
      width: var(--a-track-height)
      height: 100%
    .aurora-slider-thumb
      margin-left: 1px
